/* .primero{
    display: flex;
    justify-content: center;
}

.segundo{
    display: flex;
    justify-content: center;
}

.tercero{
    display: flex;
    justify-content: center;
}
.caja-azul{
    display: inline-block;
    background-color: blue;
    width: 25px;
    height: 25px;
    margin: 10px;
}

.caja-rojo{
    display: inline-block;
    background-color: red;
    width: 25px;
    height: 25px;
}

.caja1{
    display: flex;
    background-color: green;
    width: 25px;
    height: 25px;
    margin: 20px;
} */

*{
    font-size: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}



:root{
    --rojo-carmesi:#FF6F61;
    --blanco: #FFFFFF;
}

.head-cine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--rojo-carmesi) ;
    color: var(--blanco);
    padding: 15px;
    border-radius: 6px;
    
}

.na